<div id="site-header">
    <h1>{{ .Site.Params.Subtitle }}</h1>
    <h2>
        <a href="{{ .Site.BaseURL | relLangURL }}" id="logo">
            {{ .Site.Params.Titleheader }}
        </a>
    </h2>
    
</div>

<nav itemscope itemtype="http://schema.org/SiteNavigationElement">
    <meta itemprop="name" content="Navigation Menu">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
        <a  itemprop="url" 
            href="{{ .URL | absLangURL }}" 
            title="{{ .Name }}"
            class={{ .Identifier }}
            target="{{ if ne .Identifier "chi-sono"}}_blank{{else}}_self{{end}}"
            >
            {{ .Name }}
        </a>
    {{ end }}
</nav>
