<sidebar>
    <div class="side-box">
        <h3>Categorie</h3>
        <ul id="tax-single">
            {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                <li><a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}" title="Tutti gli articoli che parlano di {{ $name }}">/{{ $name }}</a></li>
            {{ end }}
        </ul>
    </div>

    <div class="side-box">
        <h4>Argomenti</h4>
        <ul id="tags-single">
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                <li><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="Tutti gli articoli col tag {{ $name }}">#{{ $name }}</a></li>
            {{ end }}
        </ul>
    </div>
</sidebar>