@charset "UTF-8";
body {
  color: white;
  background-color: #202124; }

::-moz-selection {
  background: blue;
  color: #fff;
  text-shadow: none; }

::selection {
  background: red;
  color: #fff;
  text-shadow: none; }

hr {
  border-top: 3px dotted blue; }

code {
  background-color: lightblue;
  color: black;
  text-decoration: bold;
  padding: 0.1em 0.2em; }

pre {
  background-color: #272822;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em; }

blockquote {
  border-color: blue; }

h1, h2, h3, h4, h5, h6 {
  color: #ddd; }

h1::before {
  color: var(--darkMaincolor);
  content: "# "; }

h2::before {
  color: var(--darkMaincolor);
  content: "## "; }

h3::before {
  color: var(--darkMaincolor);
  content: "### "; }

h4::before {
  color: var(--darkMaincolor);
  content: "#### "; }

h5::before {
  color: var(--darkMaincolor);
  content: "##### "; }

h6::before {
  color: var(--darkMaincolor);
  content: "###### "; }

a {
  color: #ddd; }

.site-description {
  display: flex;
  justify-content: space-between; }

.site-description p {
  color: #ddd; }

.soc:hover {
  color: black; }

.tags li::before {
  content: "🏷 "; }

.tags a {
  border-bottom: 3px solid var(--darkMaincolor); }

.tags a:hover {
  background-color: var(--darkMaincolor);
  color: black; }

.list-item a:hover {
  color: white;
  background-color: var(--darkMaincolor); }

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%; }

figure img {
  border: 3px solid #333; }

table th {
  color: #ddd; }

table td {
  color: #ddd; }
