{{ define "main" }}
    <div class="homepage-content">
        {{ .Content }}
    </div>

    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ range (after 0 (.Paginate $pages).Pages) }}
        <article class="post-list">

            {{ if .Params.image }}
            <div class="post-image">
                <a href="{{ .RelPermalink }}" itemprop="image" title="{{ .Title }}" itemscope itemtype="https://schema.org/ImageObject">
                    <img src="{{ .Params.image }}" alt="{{ .Title }}" />
                    <meta itemprop="url" content="{{ .Params.image }}">
                    <meta itemprop="width" content="974">
                    <meta itemprop="height" content="510">
                </a>
            </div>
            {{ end }}
            <div class="post-list-content">
                <header>
                    {{ partial "articleInfoDate.html" . }}
                    <span class="hide" itemprop="author">{{ .Site.Params.Authorname }}</span>
                    <link itemprop="mainEntityOfPage" href="{{ .RelPermalink }}" />
                    <h2 itemprop="headline">
                        <a href="{{ .RelPermalink }}" title="{{ .Title }}" itemprop="name">{{ .Title }}</a>
                    </h2>
                </header>
        
                <div class="content post-summary" itemprop="abstract">
                    {{ .Params.summary | safeHTML }}
                </div>
                
                {{ partial "articleInfoFull.html" . }}
            </div>
        </article>
    {{ end }}
    {{ partial "pagination.html" . }}

{{ end }}