{{ define "main" }}

    <h1>{{ i18n "tag" | humanize }}: {{ .Title }}</h1>

    {{ range .Data.Pages }}
    <article class="post-list">
        <div class="post-list-content">
            <header> 
                <h1>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h1>
            </header>
    
            <div class="content post-summary">
                {{ .Summary | safeHTML }}
            </div>
            {{ partial "articleInfoDate.html" . }}
        </div>
    </article>
    {{ end }}

{{ end }}