<!DOCTYPE html>
<html dir="ltr" itemscope="" itemtype="http://schema.org/Blog" lang="{{ .Site.LanguageCode }}">
<head>
{{ block "head" . }}
{{ partial "head.html" . }}
{{ end }}
</head>
<body>
    <a class="skip-main" href="#main" title="Salta il contenuto">{{ i18n "skipToContent" | humanize }}</a>
    <header id="top">
        <div class="container">
            {{ block "header" . }}
                {{ partial "header.html" . }}
            {{ end }}
        </div>
    </header>
    <div id="content">
      
            <div id="cover">
                <img src="{{ .Params.image }}" alt="{{ .Title }}" class="cover-image" />
            </div>
     
        <div class="container">

            <main id="main" tabindex="-1"> 
                {{ block "main" . }}{{ end }}
            </main>

            {{ partial "sidebar.html" . }}
            
        </div>
    </div>
    <footer id="bottom">
        <div class="container">
            {{ block "footer" . }}
                {{ $languagesCount := $.Site.Home.AllTranslations }}
                {{ if gt $languagesCount 1 }}
                    {{ partial "languageSelect.html" . }}
                {{ end }}
    
                {{ partial "footer.html" . }}
            {{ end }}
        </div>
    </footer>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GY5N4E7T1T"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-GY5N4E7T1T');
    </script>

    
</body>
</html>
