{{ define "main" }}
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="hide" itemprop="publisher" itemscope itemtype="http://schema.org/Corporation">
            <span itemprop="name">{{ .Site.Params.Author }}</span>
        </div>
        {{ if .Type | eq "post" }}
            {{ partial "articleInfoDate.html" . }}
        {{end}}
        <span class="hide" itemprop="author">{{ .Site.Params.Authorname }}</span>
        <header itemprop="headline">
            <h1 itemprop="name">{{ .Title }}</h1>
        </header>
        {{ if .Params.image }}
        <div class="post-image" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
            <img src="{{ .Params.image }}" alt="{{ .Title }}" />
            <meta itemprop="url" content="{{ .Params.image }}">
            <meta itemprop="width" content="974">
            <meta itemprop="height" content="510">
        </div>
        {{ end }}
        <div class="content" itemprop="articleBody">
            {{ .Content }}
        </div>
        {{ partial "articleInfoFull.html" . }}

        {{ if .Type | eq "post" }}

        {{ partial "social.html" . }}
            {{ if not .Site.IsServer }} 
                <div id="disqus_thread"></div>
                <script>
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://angelopili-it.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            {{ end }}
        {{ end }}

    </article>
{{ end }}