// Variables
$main-color: red;
$border-color: rebeccapurple;
$callout-color: dodgerblue;
$hover-color: navy;
$dark-main-color: #50fa7b;
$highlighter-color: rgba(80, 250, 123, 0.4);

$text-color: #232333;
$body-font: 'Roboto Mono', monospace;
$font-size: 15px;
$line-height: 1.6em;
